*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Optima";
    src: url('assets/fonts/OPTIMA_B.TTF') format('truetype');
    font-weight: normal;;
}

:root{
    --dark-red: #BE263B;
    --deep-red: #400D14;
    --light-grey: #FAFAFA;
    --dark-grey: #383838;
    --mid-grey: #595959;
    --side-padding: 5rem;
}

body{
    font-family: "Inter";
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 40px 0px rgba(189, 189, 189, 0.11);
    height: 75px;
    padding: 0 2rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
}

ul{
    list-style: none;
    display: flex;
    gap:3rem;
}

.navbar-buttons{
    display: flex;
    gap: 1rem; 
}

.navbar-buttons button, .button{
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.signup-button, .button{
    background-color: var(--dark-red);
    color: white;
}

header{
    background-color: var(--light-grey);
    position: relative;
    display: flex;
    padding: 4.5rem var(--side-padding) 8rem;
    align-items: center;
    gap: 8rem;
}

header .right-side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title{
    font-family: "Optima", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    font-size: 40px;
    color:var(--dark-grey)
}

header p{
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 1.75rem;
    color: var(--mid-grey);
}

header img{
    border-radius: 20px;
}

.divider{
    position: absolute;
    bottom: -5rem;
    left:0;
    overflow: hidden;
}

.divider img{
    max-width: 100%;
}

.stats{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--side-padding);
    align-items: center;
    /* background-color: red; */
}

.stats .right-side{
    flex: 1;
}

.stats .stats-button{
    margin-top: 8rem;
    font-size: 1rem;
    padding: 1rem 2.3rem;
}

.short-title{
    font-family:"Optima", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--dark-red);
    margin-bottom: 1.2rem;
}

.stats .left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stat{
    border-bottom: 1.4px solid #cccaca;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.stat-number{
    font-family: "Optima", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: var(--deep-red);
    min-width: 100px;
    margin-right: 4.5rem;
}

.stats h4{
    font-family: "Optima", sans-serif;
    margin-bottom: 1.1rem;
}

.story{
    padding: 4rem var(--side-padding);
    display: flex; 
    gap: 5rem;
}

.story .right-side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Inter', sans-serif;
    color: var(--dark-grey);
    line-height: 1.75rem;
    font-size: 1.2rem;
}

.work{
    padding: 4rem var(--side-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.work-images{
    display: flex;
    gap: 4.9rem;
    margin-top: 4rem;
    transition: transform 1s ease-out;
    will-change: transform;
}

.scroll-img{
  
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.rotate1{
    transform: rotate(-12deg); 
    width: 305px;
    height: 268px;
}

.rotate2{
    transform: rotate(4.97deg);
    width: 285px;
    height: 369px;
}

.rotate3{
    transform: rotate(-8.21deg);
    width: 285px;
    height: 295px;
}
.rotate4{
    transform: rotate(10.22deg);
    width: 285px;
    height: 329px;
}

.divider-two img{
    transform: rotate(180deg);
    margin: -5rem;
    margin-top: 1rem
}