*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --dark-red: #BE263B;
    --light-grey: #FAFAFA;
    --dark-grey: #383838;
    --mid-grey: #595959;
}
body{
    font-family: "Inter";
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 40px 0px rgba(189, 189, 189, 0.11);
    height: 75px;
    padding: 0 2rem;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 700;

}

ul{
    list-style: none;
    display: flex;
    gap:3rem;
}
.navbar-buttons{
    display: flex;
    gap: 1rem;
    
}
.navbar-buttons button{
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.signup-button{
    background-color: var(--dark-red);
    color: white;
}

header{
    background-color: var(--light-grey);

    position: relative;
    display: flex;
    padding: 4.5rem 5rem  10rem;
    align-items: center;
    gap: 8rem;
}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
}

header h2{
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    font-size: 40px;
    color:var(--dark-grey)
}

header p{
    font-weight: 400;
    font-size: 1.15rem;

    color: var(--mid-grey);
}

header img{
    border-radius: 20px;
}

.divider{
    position: absolute;
    bottom: -8rem;
    left:0;
}



